@charset "utf-8";

/* 변수선언 */
@import url(./variable.css);
/* common */
@import url(./common.css);

/***** header *****/
header {
  position: fixed;
  border-bottom: 1px solid #fff;
  width:100%;
  background-color: rgba(0,0,0,0.5);
  color:#fff;
  z-index: 1000;
}
header .header-wrapper {
  /* background-color: orange; */
  justify-content: space-between;
  align-items: center;
  max-width:1800px;
  /* min-width:1100px; */
  width:96%; height: 98px;
  margin: 0 auto;
}
header .header-wrapper h1 {
  background: url(./images/logo.png) no-repeat 0 50% / contain;
  text-indent: -9999px;
  width:204px; height:100%;
}
header .header-wrapper .global-nav {
  /* background-color: orange; */
  font-weight: 500;
  font-size: var(--font-size-18);
  width: 60%;
  /* flex:0 0 60%; */
}
header .header-wrapper .global-nav li {
  width: 20%;
}
header .header-wrapper .global-nav li:hover {
  color:var(--point-color);
}
header .header-wrapper .global-utiil {
  text-transform: uppercase;
  font-size: var(--font-size-14);
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper .global-utiil li a {
  display: block;
  margin: 0.5vw;
}
header .header-wrapper .global-utiil li:first-child a {
  width:130px;
  padding: 8px 16px 8px 40px;
  border-radius: 30px;
  background:var(--point-color) url(./images/main_reserve_icon2_2108.png) no-repeat 10% 50% / 23px;
}
header .header-wrapper .global-utiil li:nth-child(2) a {
  width:80px;
}
header .header-wrapper .global-utiil li:nth-child(3) a {
  width:30px;
}


/***** contents *****/
/** main-video **/
.main-video {
  overflow: hidden;
  aspect-ratio: 16 / 9;
  background: 
  url(./images/main_diag1.png) no-repeat 0 0, 
  url(./images/main_diag3.png) no-repeat 0 40%, 
  url(./images/main_diag2.png) no-repeat 0 0, 
  url(./images/main_diag4.png) no-repeat 0 100%, 
  url(./images/main_diag5.png) no-repeat 0 100%, 
  url(./images/main_diag6.png) no-repeat 100% 100%, 
  url(./images/main_diag7.png) no-repeat 100% 100%, 
  url(./images/main_bg_check.png);

  position: relative;
}
.main-video .youtube {
  aspect-ratio: 16 / 9;
  width: 100%;
  z-index: -1;
  position: relative;
}
.main-video .main-video-text {
  color:#fff;
  text-align: left;
  position: absolute;
  left:5vw; 
  top: 50%;
  transform: translateY(-50%);
  font-style: italic;
}
.main-video .main-video-text h2 {
  font-weight: 700;
  text-shadow: 1px 1px #000;
  font-size: 4.25rem;/* 68px */
  line-height: 1.2;
}
.main-video .main-video-text h2 span {
  display: block;
  font-weight: 500;
  font-size: 3.75rem;/* 60px */
  text-indent: 30px;
}
.main-video .main-video-text p {
  width: 30vw;
  line-height: 1.6;
  margin: 20px 0 0 30px;
}
.main-video .main-widget {
  position: absolute;
  right: 1.563vw;
  top: 50%;
  transform: translateY(-50%);
  color:#fff;
  font-size: var(--font-size-13);
}
.main-video .main-widget li {
  width:100px; height:100px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
}
.main-video .main-widget li:hover {
  background-image: linear-gradient(45deg, #ff9133, #cc5e00);
}
.main-video .main-widget li a {
  display: block;
  background: no-repeat 50% 13%;
  /* display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 16px; */
  padding-top: 50px;
  margin:10px 0;
}
.main-video .main-widget li:nth-child(1) a {
  background-image: url(./images/main_reserve_icon1_2108.png);
  background-position: 50% 20%;
}
.main-video .main-widget li:nth-child(2) a {
  background-image: url(./images/main_reserve_icon2_2108.png);
}

/** article 공통 **/
article > h2 {
  font-family: 'Play', Arial, Helvetica, sans-serif;
  font-size: var(--font-size-title);
}
article > h2::before {
  content: "/";
  display: block;
  color: var(--point-color);
  font-size: 2.250rem;/* 36px */
  margin: 120px 0 20px;
}
article > h2 + p {
  width: 50%;
  margin: 24px auto;
  line-height: 1.5;
}

/** glance **/
.glance .glance-list {
  justify-content: center;
  margin: 70px auto;
  max-width: 1800px;
}
.glance .glance-list li {
  border-right: 1px solid #74726b;
  width:23%;
  padding: 80px 0 10px;
  background: no-repeat 50% 10%;
}
.glance .glance-list li:first-child {
  background-image: url(./images/icon_mg_calendar.png);
}
.glance .glance-list li:nth-child(2) {
  background-image: url(./images/icon_mg_user.png);
}
.glance .glance-list li:nth-child(3) {
  background-image: url(./images/icon_mg_clock.png);
  background-size: 7%;
}
.glance .glance-list li:last-child {
  border:none;
  background-image: url(./images/icon_mg_ship.png);
}
.glance .glance-list li h3 {
  font-weight: 300;
}
.glance .glance-list li h3 strong {
  font-size: var(--font-size-count);
  font-family: 'Play', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.glance .glance-list li h3::after {
  content: "";
  display: block;
  width: 30px; height: 1px;
  background-color: #000;
  margin:20px auto;
}
.glance .glance-list li h4 {
  color:#022974;
  font-size: var(--font-size-20);
  font-weight: 500;
}
.glance .glance-list li p {
  font-weight: 300;
}

/** business **/
.business .block-line {
  display: block;
}
.business .business-wrapper {
  position: relative;
  color:#333;
}
.business .business-wrapper .business-text {
  background-color: #eee;
  width: 50%;
  position: relative;
}
.business .business-wrapper .business-text::after {
  content: "";
  position: absolute;
  top:0; 
  left:100%;
  /* right:-60px; */
  background-color: #eee;
  width: 60px;
  height: 100%;
}
.business .business-wrapper .business-text .business-menu {
  justify-content: center;
  margin: 60px 0;
}
.business .business-wrapper .business-text .business-menu a {
  margin:10px;
  position: relative;
}
.business .business-wrapper .business-text .business-menu a.active {
  color:var(--point-color);
}
.business .business-wrapper .business-text .business-menu a.active::after {
  content: "";
  width:100%;
  height: 3px;
  background-color: var(--point-color);
  position: absolute;
  top:-10px;
  left: 50%;
  transform: translateX(-50%);
}
.business .business-wrapper .business-text h3 {
  font-size: var(--font-size-title);
  color: #000;
}
.business .business-wrapper .business-text p {
  font-size: var(--font-size-14);
  width: 60%;
  margin: 20px auto;
  line-height: 1.5;
}
.business .business-wrapper .business-text .business-img-list {
  justify-content: center;
}
.business .business-wrapper .business-text .business-img-list li {
  margin: 2vw 15px;
}
.business .business-wrapper .business-img {
  width:50%;
  position: relative;
  top:40px;
}
.business .business-wrapper .business-img img {
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.business .more-btn {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/** location **/
.location {
  background: url(./images/bg_worldmap.png) no-repeat 50% 0;
}
.location .location-list {
  justify-content: center;

}
.location .location-list a {
  display: block;
  margin: 30px 10px;
  font-family: 'Play', Arial, Helvetica, sans-serif;
  font-size: var(--font-size-18);
}
.location .location-list a.on {
  color:var(--point-color);
}
.location .location-map {
  width:100%;
  background-color: #ddd;
  aspect-ratio: 3 / 1;
  position: relative;
}
.location .location-map address {
  position: absolute;
  z-index: 100;
  top:20px; left:20px;
  background-color: rgba(0,0,0,0.7);
  color:#fff;
  width: 400px; height: 100px;
  padding:10px 20px;
  text-align: left;
}
/* https://apis.map.kakao.com/web/guide */

/** contact **/
.contact .contact-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  justify-content: center;
  gap: 2.5vw;
}
.contact .contact-wrapper .press {
  transition: 0.3s;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(./images/1.png) no-repeat 50% / cover;
  color:#fff;
  /* width:; */
  flex:2;
  padding-bottom: 80px;
}
.contact .contact-wrapper .press:hover {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(./images/1.png) no-repeat 50% / cover;
}
.contact .contact-wrapper .press h3 {
  background-color: var(--point-color);
  color:#fff;
  font-size: var(--font-size-18);
  width:130px;
  padding: 10px;
}
.contact .contact-wrapper .press h4 {
  font-size: var(--font-size-title);
  overflow: hidden;
  /* 한 줄 말줄임 상황
  text-overflow: ellipsis; 말줄임
  white-space: nowrap; 자동 줄바꿈 금지 
  */
  /* 여러 줄 말줄임 */
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;/* 여러 줄 텍스트 자르기 */
  -webkit-box-orient: vertical;
  margin:40px;
}
/* 
  -webkit- 벤더 vondor : 정식 버전으로 출시 되기 전 개발자들이 사용할 수 있게 만들어 놓은 약속어 
  -ms-, -o-, -moz-
*/
.contact .contact-wrapper .press p {
  font-family: 'Play', Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}
.contact .contact-wrapper .ghost-btn {
  border:1px solid #fff;
  padding: 10px 30px;
  transition: 0.3s;
  display: inline-block;
}
.contact .contact-wrapper .ghost-btn:hover {
  border-radius: 30px;
}

.contact .contact-wrapper .notice {
  flex:2;
  text-align: left;
  position: relative;
}
.contact .contact-wrapper :is(.notice, .recruit) h3 {
  font-family: 'Play', Arial, Helvetica, sans-serif;
  font-size: var(--font-size-38);
}
.contact .contact-wrapper .notice .ghost-btn {
  border-color:#74726b;
  position: absolute;
  right:0; top:0;
}
.contact .contact-wrapper .notice .notice-list {
  margin:1.5vw 0;
}
.contact .contact-wrapper .notice .notice-list li {
  border-bottom: 1px solid #74726b;
  padding: 16px 6px;
  list-style: hyphen inside;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style */
@counter-style emoji {
  system: cyclic;/* 같은 값 반복 */
  symbols: "🎃";
  suffix: " : ";/* 머릿말 기호 다음 처리 방식. 기본값 '.'*/
}
@counter-style hyphen {
  system: cyclic;
  symbols: "-";
  suffix: " ";
}
.contact .contact-wrapper .notice .notice-list li a {
  margin-left: 4px;
  /*한 줄 일때 말줄임*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  /*정해진 범위가 있어야 적용ㅌ*/
  display: inline-block;
  width: 70%;
}
.contact .contact-wrapper .notice .notice-list li a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.contact .contact-wrapper .notice .notice-list li .date {
  font-size: var(--font-size-15);
  color:#999;
  float: right;
}
.contact .contact-wrapper .notice .notice-list li .date::before {
  font-family: 'Material Symbols Outlined';
  /* content: "\e8b5"; */
  content: "schedule";
  vertical-align: bottom;
  margin-right:4px;
}

.contact .contact-wrapper .recruit {
  flex:1;
  background: url(./images/bg_main_recruit.png) no-repeat 50% / cover;
  text-align: left;
  padding: 16px;
  position: relative;
}
.contact .contact-wrapper .recruit h3 {
  color: var(--point-color);
  
}
.contact .contact-wrapper .recruit .more-btn{
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
/***** footer *****/
footer {
  background-color: #2a2a2a;
  color:#ddd;
  margin-top:5.8vw;
}
footer .footer-banner {
  background-color: #eee;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 30px 0;
}
footer .footer-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding:2vw 1vw;
  font-size: var(--font-size-14);
}
footer .footer-wrapper .footer-top {
  justify-content: space-between;
}
footer .footer-wrapper .footer-top h2 {
  background: url(./images/ft_logo.png) no-repeat 50% /contain;
  text-indent: -9999px;
  width: 330px; height: 50px;
}
footer .footer-wrapper .footer-top .footer-info {
  gap: 20px;
}
footer .footer-wrapper .footer-bottom {
  margin:20px 0 50px;
  justify-content: space-between;
}
footer .footer-wrapper .footer-bottom address {
  text-align: left;
  font-style: normal;
  line-height: 2;
}
footer .footer-wrapper .footer-bottom address .copyright {
  font-size: var(--font-size-13);
  color:#999;
  margin-top:20px;
}
footer .footer-wrapper .footer-bottom select {
  background-color: #000;
  align-self: flex-start;
  border:none;
  padding:10px 20px 10px 10px;
  width:150px;
  color: inherit;
  text-transform: capitalize;
}
